<h2>Editar <%= resource_name.to_s.humanize %></h2>
<div class="row">
  <div class="col-md-4">
    
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
    
      <div class="form-group">
        <%= f.label :email, class:"control-label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
      </div>
    
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    
      <div class="form-group">
        <%= f.label :password, class:"control-label" %> <i>(si no lo quieres cambiar, deja este campo en blanco)</i><br />
        <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> caracteres mínimo</em>
        <% end %>
      </div>
    
      <div class="form-group">
        <%= f.label :confirmar_password, class:"control-label" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
      </div>
    
      <div class="form-group">
        <%= f.label :password_actual, class:"control-label" %> <i>(para confirmar los cambios se necesita tu password actual)</i><br />
        <%= f.password_field :current_password, autocomplete: "off", class:"form-control" %>
      </div>
    
      <div class="form-group">
        <%= f.submit "Actualizar", class:"btn btn-primary" %>
      </div>
    <% end %>
    
   <br></br>
<hr>
    
    <p>¿Insatisfecho? <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "¿Estas seguro?" }, method: :delete, class:"btn btn-warning" %></p>
    
    <%= link_to "Regresar", :back %>
    <br></br>
  </div>
</div>

