<div class='logo'>
    <h1>Rastro de tiempo</h1>
</div>
<ul class="nav nav-tabs">
	<li class="nav-item">
    <a class="nav-link <%= active?(root_path) %>" href="http://localhost:3000/" >Base</a>
	</li>
	<li class="nav-item">
    <a class="nav-link <%= active?(posts_path) %>" href="http://localhost:3000/posts">Tiempos</a>
	</li>
	<li class="nav-item">
    <a id='new_post_from_nav' class="nav-link <%= active?(new_post_path) %>" href="http://localhost:3000/posts/new">Agregar Tiempos</a>
	</li>
	<li class="nav-item dropdown ml-md-auto">
		 <a class="nav-link dropdown-toggle <%= active?(edit_user_registration_path) %>" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">Mi cuenta</a>
		<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
      <%= link_to "Editar", edit_user_registration_path, class:"dropdown-item" %>
			<div class="dropdown-divider">
			</div> <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class:"dropdown-item" %>
		</div>
	</li>
</ul>
