<div class="jumbotron">
	<h2>
		Hola gente.
	</h2>
	<p>
  Este box contiene un mensaje actualizable para darle retroalimentación de funcionamiento al habitante que la use, entonces lo visual en primera instancia se me resalta como la opción mpas adecuada como lo que pensaba en barras de loading. JavaScript, por supuesto, con el jquery.
  </p>
	<p>
		<a class="btn btn-primary btn-large" href="#">Echa un vistazo</a>
	</p>
</div>
