
<div class="flex-container">

    <div class="card box-sz">
      <img class="card-img-top" data-src="#" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Tiempo "#{}"</h4>
        <p class="card-text">Texto que le da contexto a la utilidad de la tarjeta. Asíncra.</p>
        <a href="#" class="btn btn-primary">accede</a>
      </div>
    </div>
  
    <div class="card box-sz">
      <img class="card-img-top" data-src="#" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Tiempo "#{}"</h4>
        <p class="card-text">Texto que le da contexto a la utilidad de la tarjeta. Asíncra.</p>
        <a href="#" class="btn btn-primary">accede</a>
      </div>
    </div>
  
    <div class="card box-sz">
      <img class="card-img-top" data-src="#" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Tiempo "#{}"</h4>
        <p class="card-text">Texto que le da contexto a la utilidad de la tarjeta. Asíncra.</p>
        <a href="#" class="btn btn-primary">accede</a>
      </div>
    </div>
  
    <div class="card box-sz">
      <img class="card-img-top" data-src="#" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Tiempo "#{}"</h4>
        <p class="card-text">Texto que le da contexto a la utilidad de la tarjeta. Asíncra.</p>
        <a href="#" class="btn btn-primary">accede</a>
      </div>
    </div>

</div>
