<br></br>
<%= form_for @post, :html => {class: "form-horizontal", role: "form"} do |f| %>

<% if @post.errors.any? %>
  <% @post.errors.full_messages.each do |error| %>
    <%= js add_gritter(error, title: "Notificaicón Ti-Ex", sticky: false) %>
  <% end %>
<% end %>

<div class="form-group">
  <%= f.label :Fecha  %>
  <%= f.date_field :date, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :Justificiación %>
  <%= f.text_area :rationale, class: "form-control" %>
</div>

  <%= f.submit "Guardar", class: "btn btn-primary btn-block" %>

<% end %>

