<tr>
	<td>
		<%= post.id %>
	</td>
	<td>
		<%= post.date %>
	</td>
	<td>
		<%= post.user.full_name %>
	</td>
	<td>
		<%= truncate(post.rationale) %>
	</td>
  <td><%= link_to 'Editar', edit_post_path(post), id: "edit_#{post.id}" %></td>
  <td><%= link_to 'Borrar', post_path(post), method: :delete, id: "delete_post_#{post.id}_from_index", data: {confirm: '¿Estás seguro?'} %></td>
</tr>
