<h3>Tiempos disponibles</h3>


<table class="table table-hover table-striped">
  <thead>
  	<tr>
  		<th>
  			#
  		</th>
  		<th>
  			Fecha
  		</th>
  		<th>
  			Usuario
  		</th>
  		<th>
  			Justificación
  		</th>
      <th></th>
      <th></th>
  	</tr>
  </thead>
  <tbody>
    <%= render @posts %>
  </tbody>
</table>


